.win {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffedda;
}

.win h1 {
  color: #3db2ff;
  font-size: 3rem;
}
